@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'lato';
        src: local('lato'), url("../fonts/Lato-Light.ttf");
        font-weight: 300;
        font-display: swap;

    }

    @font-face {
        font-family: 'lato';
        src: local('lato'), url("../fonts/Lato-Regular.ttf");
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'lato';
        src: local('lato'), url("../fonts/Lato-Bold.ttf");
        font-weight: bold;
        font-display: swap;
    }

}

@layer components {


    .theme-title-01
    {
        @apply relative
        font-lato font-bold
        text-[26px] leading-[33px]
        sm:text-[30px] sm:leading-[37px]
        md:text-[34px] md:leading-[41px]
        lg:text-[38px] lg:leading-[45px]
        xl:text-[48px] lg:leading-[55px]
    }

    .theme-title-02
    {
        @apply relative
        font-lato font-bold
        text-[24px] leading-[30px]
        sm:text-[28px] sm:leading-[34px]
        md:text-[32px] md:leading-[38px]
        lg:text-[36px] lg:leading-[42px]
        xl:text-[42px] lg:leading-[50px]
    }

    .theme-title-03
    {
        @apply relative
        font-lato font-bold
        text-[18px] leading-[22px]
        sm:text-[20px] sm:leading-[24px]
        md:text-[22px] md:leading-[26px]
        lg:text-[24px] lg:leading-[28px]
        xl:text-[28px] lg:leading-[32px]
    }

    .theme-title-04
    {
        @apply relative
        font-lato font-bold
        text-[16px] leading-[20px]
        sm:text-[16px] sm:leading-[20px]
        md:text-[17px] md:leading-[21px]
        lg:text-[18px] lg:leading-[22px]
        xl:text-[20px] lg:leading-[24px]
    }

    .theme-text-01
    {
        @apply relative
        font-lato font-normal
        text-[16px] leading-[24px]
        md:text-[17px] md:leading-[25px]
        lg:text-[18px] lg:leading-[26px]
    }

    .theme-text-02
    {
        @apply relative
        font-lato font-light
        text-[16px] leading-[24px]
        md:text-[16px] md:leading-[24px]
        lg:text-[17px] lg:leading-[25px]
    }

    .theme-section
    {
        @apply relative
        py-[30px] px-[20px]
        md:p-[40px]
        xl:py-[70px] xl:p-0

    }


    .theme-btn-01
    {
        @apply relative
        font-lato font-bold text-[18px] leading-[26px] rounded-[5px]
        w-fit min-w-[180px] h-[40px]
        flex flex-row flex-nowrap justify-center items-center
    }

    .theme-btn-01 svg
    {
        @apply  mr-[7px]
    }

}